.header img {
    width: 112px;
}
.card-box {
    min-width: 40%;
    max-width: 720px;
    margin: 0 auto;
    padding: 12px;
}
.community-chat textarea {
    min-height: 180px;
}
.community-chat {
    line-height: 32px;
}
h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}
.about-us-page {
    line-height: 32px;
}
.resources-page {
    line-height: 32px;
}
.cursor {
    display: inline-block;
    width: 1ch;
    animation: flicker 0.5s infinite;
    margin-bottom: 4px;
    color: black;
    background-color: black;
}
@keyframes flicker {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}
.language-component {
     display: flex;
     justify-content: end;
    text-align:right;
    padding: 12px;
}
.language-component select {
    margin-top: 10px;
    background-color: #b5d3fc;
    border: 3px solid whitesmoke;
    width: 320px;
    border-radius: 12px;
    font-weight: 500;
}
.therapist-profile {
    min-width: 320px;
}