.chat-box-container {
    height: 80vh;
    overflow-y: scroll;
    background-color: whitesmoke;
}

.chat-user {
    display: block;
    float: right;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
}