/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 10px;
    background-color: rgba(91, 91, 228, 0.719);
  }
  
  .container {
    width: 500px;
    height: 500px;
    padding: 25px 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }
  
  .container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 3px;
    width: 30px;
    background-color: #000;
  }
  
  .container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  
  form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 10px);
  }
  
  form .user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  form .user-details .input-box input {
    outline: none;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    height: 40px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  
  form .user-details .input-box input:focus,
  form .user-details .input-box input:valid {
    border-color: #000;
  }
  
  form .gender-details {
    margin: 20px 0;
  }
  
  form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
  }
  
  form .gender-details .category {
    display: flex;
    width: 100%;
    margin: 14px 0;
    justify-content: space-between;
  }
  
  form .gender-details .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  form .gender-details .category .dot {
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
  
  #dot-1:checked ~ .category label[for="dot-1"] .dot,
  #dot-2:checked ~ .category label[for="dot-2"] .dot,
  #dot-3:checked ~ .category label[for="dot-3"] .dot {
    background-color: #9b59b6;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  form .button {
    height: 45px;
    margin: 45px 0;
  }
  
  form .button input {
    width: 100%;
    height: 100%;
    outline: none;
    color: #ffffff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background: linear-gradient(90deg, #ff4b2b, #ff416c);
    cursor: pointer;
  }
  
  form .button input:hover {
    background: linear-gradient(90deg, #ff416c, #ff4b2b);
  }
  
  @media (max-width: 584px) {
    .container {
        max-width: 100%;
    }
  
    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }
  
    form .gender-details .category {
        width: 100%;
    }
  
    .container form .user-details {
        max-height: 300px;
        overflow-y: auto;
    }
  
    .user-details::-webkit-scrollbar {
        width: 5px;
    }
  } */